<!DOCTYPE html>
<html lang="en" data-theme="pastel">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Shopify Fall 2022 Internship Backend Challenge</title>
  </head>
  <body class="mx-2 my-6">
    <div class="flex m-6 mx-4 sm:mx-24 items-end">
      <h3 class="text-2xl font-bold">Inventory Items</h3>
      <a
        class="ml-8 cursor-pointer font-medium text-sky-800 bg-sky-100 rounded rounded-md p-1 dark:text-sky-500 mx-4 hover:underline"
        href="https://fall-2022-shopify-backend--rreiso.repl.co/"
        target="_blank"
        >Open app in a new tab</a
      >
    </div>
    <div class="m-4 sm:mx-24">
      <label for="new-item-modal" class="btn modal-button">New item</label>
      <input type="checkbox" id="new-item-modal" class="modal-toggle" />
      <%- include('partials/_newItemModal') %>
      <a
        href="/deleted"
        class="cursor-pointer font-medium text-sky-600 dark:text-sky-500 mx-4 hover:underline"
        >View deleted inventory items</a
      >
    </div>
    <%- include('partials/_itemTable') %>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
